<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="//cdn.cnbj2.fds.api.mi-img.com/cdn/lumi/sass-home/images/saas-favicon.ico" />
    <title>Aqara Admin</title>
    <%- injectScript %>
  </head>
  <body>
    <noscript>
        <strong>
            We're sorry but “Aqara Admin” doesn't work properly without JavaScript
            enabled. Please enable it to continue.
        </strong>
    </noscript>
    <div id="app"></div>
    <script type="module" src="/src/main.ts"></script>
    <% if (injectSensors) { %>
        <script src="./sensors.js"></script>
    <% } %>
  </body>
</html>
